# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Playwright
playwright-report/
test-results/
playwright/.local-browsers

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Environment
.env
